/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */
.mediaViewInfo {
	--web-view-name: Starter;
	--web-view-id: Starter;
	--web-scale-on-resize: true;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Starter;
  --font-color: #000000;
  --btn-bg-color: #ffffff;
  --accent-color: #000000;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Starter {
	position: absolute;
	width: 1900px;
	height: 1875px;
	background-color: rgba(246,244,252,1);
	overflow: hidden;
	--web-view-name: Starter;
	--web-view-id: Starter;
	--web-scale-on-resize: true;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
}
#rect_blue_i {
	fill: url(#rect_blue_i);
}
.rect_blue_i {
	position: absolute;
	overflow: visible;
	width: 1900px;
	height: 552px;
	left: 0px;
	top: 650px;
}
#rect_white1 {
	fill: rgba(252,252,252,1);
}
.rect_white1 {
	mix-blend-mode: lighten;
	position: absolute;
	overflow: visible;
	width: 1900px;
	height: 590px;
	left: 0px;
	top: 60px;
}
#Button_ {
	position: absolute;
	left: 1350px;
	top: 352px;
	color: #FFFFFF;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
}
#Button_:hover {
	box-shadow: none;
}
#Area_DISPLAY_ELEMENTSLabelSIZE {
	fill: #8247e5;
	
}
.Area_DISPLAY_ELEMENTSLabelSIZE {
	position: absolute;
	overflow: visible;
	width: 250px;
	height: 83.333px;
	left: 0px;
	top: 0px;
}
#Label {
	left: 68px;
	top: 23.667px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#Icon_ {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 108px;
	top: 14px;
	display: none;
	overflow: visible;
}
#Bankable_Brown_Bears_a_collect {
	left: 1180px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 570px;
	height: 129px;
	text-align: center;
	font-family: Soleil;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(72,72,72,1);
}
#Social_network {
	display: flex;
	justify-content: flex-end;
	height: 60px;
	gap: 3rem;
	align-items: center;
}

/* BUTTONS */

.btn {
	display: inline-block;
	padding: 1rem 2rem;
	background: var(--btn-bg-color);
	color: var(--accent-color);
	font-family: var(--font-secondary);
	font-style: italic;
	font-weight: bold;
	font-size: 1rem;
	text-transform: capitalize;
	transition: all 0.3s ease;
	box-shadow: 2px 2px 0 0 var(--accent-color);
	cursor: pointer;
	position: relative;
	right: 50px;
	bottom: 2px;
	text-decoration: none;
	outline: none;
}
.btn:hover {
	box-shadow: none;
}

.wallet-btn {
	border-radius: 5rem;
	margin-left: 2rem;
	border-color: transparent;
}

.hero-btn {
	background: #0088FF;
	border-radius: 5rem;
	padding: 1.5rem 3rem;
	position: absolute;
	width: 300px;
	height: 83.333px;
	left: 340px;
	color: #FFFFFF;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
}
#nav {
	position: absolute;
	width: 366px;
	height: 31px;
	left: 343px;
	top: 14px;
	overflow: visible;
}
#About {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Soleil;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Drop {
	left: 168px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Soleil;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Mint {
	left: 319px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Soleil;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#FAQ {
	left: 488px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Soleil;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#favicon-32x32 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 151px;
	top: 13px;
	overflow: visible;
}
#matic {
	position: absolute;
	width: 250px;
	height: 250px;
	left: 800px;
	top: 100px;
	overflow: visible;
}
#bears_illustration {
	position: absolute;
	width: 1110px;
	height: 660px;
	left: 683px;
	top: 505px;
	overflow: visible;
}
#toy {
	position: absolute;
	width: 181px;
	height: 180px;
	left: 200px;
	top: 1072px;
	overflow: visible;
}
#myGif {
	position: absolute;
	width: 256px;
	height: 256px;
	left: 235px;
	top: 325px;
	overflow: visible;
}
/* COUNTDOWN SECTION */

section {
	position: absolute;
	width: 1000px;
	height: 500px;
	left: 450px;
	top: 1200px;
	overflow: visible;
}

.countdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.countdown ul {
	display: flex;
	gap: 2rem
}
.countdown .clock-item {
	list-style: none;
	width: 70px;
	height: auto;
}
.countdown .clock-item .count-number {
	background: #0088FF;
	padding: 1rem;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: Soleil;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: #FFFFFF;
	line-height: 1;
	border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
	background: var(--btn-bg-color);
	font-family: var(--font-secondary);
	font-size: 1.1rem;
	color: var(--bg-color);
	padding: 0.5rem 0.7rem;
	display: inline-block;
	width: 100%;
	text-align: center;
	line-height: 1;
	border-radius: 0 0 4px 4px;
}

.countdown h1 {
	text-shadow: 2px 2px 0 var(--btn-bg-color);
	font-style: italic;
	margin: 2rem 0;
	font-size: 3.5rem;
	text-align: center;
	color: rgba(72,72,72,1);
}

.countdown p {
	font-size: 1.6rem;
	font-family: var(--font-secondary);
	margin-bottom: 2rem;
	text-align: center;
}

/* OWNER STYLES */

.owner-status {
	left: 140px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 129px;
	text-align: left;
	font-family: Soleil;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(72,72,72,1);
}

/* MEDIA QUERIES */

@media all and (max-device-width: 600px) {
  

  #Starter{
    width: auto;
    /*margin-bottom: 15px;*/
  }
  .rect_blue_i {
	width: auto;
  }
  .rect_white1 {
	width: auto;
  }

  .wallet-btn {
	display: none;
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}