/* Définition des polices personnalisées */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL STYLES */
.mediaViewInfo {
	--web-view-name: bloc_page;
	--web-view-id: bloc_page;
	--web-scale-on-resize: true;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: bloc_page;
  --font-color: #000000;
  --btn-bg-color: #ffffff;
  --accent-color: #000000;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

/* Eléments principaux de la page */

body
{
    background-color: rgba(246,244,252,1);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
	gap: 3rem;
	align-items: center;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    padding-bottom: 3px;
    text-decoration: none;
    white-space: nowrap;
	text-align: left;
	font-family: Soleil;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}

nav a:hover
{
    color: #8247e5;
    border-bottom: 3px solid #8247e5;
}

#Social_network {
	display: flex;
	gap: 3rem;
	align-items: center;
}

/* BUTTONS */

.btn {
	display: inline-block;
	padding: 1rem 2rem;
	background: var(--btn-bg-color);
	color: var(--accent-color);
	font-family: var(--font-secondary);
	font-style: italic;
	font-weight: bold;
	font-size: 1rem;
	text-transform: capitalize;
	transition: all 0.3s ease;
	box-shadow: 2px 2px 0 0 var(--accent-color);
	cursor: pointer;
	position: relative;
	right: 50px;
	bottom: 2px;
	text-decoration: none;
	outline: none;
}
.btn:hover {
	box-shadow: none;
}

.wallet-btn {
	border-radius: 5rem;
	margin-left: 2rem;
	border-color: transparent;
}

.hero-btn {
	background: #0088FF;
	border-radius: 5rem;
	padding: 1.5rem 3rem;
	position: absolute;
	width: 330px;
	height: 84px;
	left: 50%;
    transform: translate(-50%, -50%);
	color: #FFFFFF;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
}

#About
{
    display: flex;
    position: relative;
    margin-top: 15px;
    background-color: #FFFFFF;
    height: 660px;
    width: 100%;
}

/* OWNER STYLES */

.owner-status {
    position: absolute;
	overflow: visible;
    max-width: 30%;
    top: 20%;
    left: 5%;
	text-align: center;
	font-family: Soleil;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(72,72,72,1);
}

#Bankable_Brown_Bears_a_collect {
    position: absolute;
	overflow: visible;
    max-width: 30%;
    top: 20%;
    right: 5%;
	text-align: center;
	font-family: Soleil;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(72,72,72,1);
}

#myGif {
    position: absolute;
	max-width: 33%;
	height: 33%;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
	overflow: visible;
}

.opensea-btn
{
    display: flex-end;
    position: absolute;
    width: 15%;
    bottom: 40%;
    right: 11%;
    background: #8247e5;
	border-radius: 5rem;
	padding: 1.5rem 3rem;
	color: #FFFFFF;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
}

/* Corps */

section
{
    display: flex;
    position: relative;
    overflow: visible;
    background: linear-gradient(#cc00fc, #08f);
    height: 660px;
    width: 100%;
}

#bears_illustration {
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translate(50%, -50%);
	max-width: 100%;
	height: 100%;
    margin-bottom: 50px;
}

#toy {
    position: absolute;
    bottom: 21%;
    left: 25%;
    /*transform: translate(-50%, -50%);*/
	max-width: 25%;
	height: 25%;
}

#Drop
{
    position: relative;
    overflow: visible;
    background-color: #FFFFFF;
    height: 660px;
    width: 100%;
}

.countdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.countdown ul {
	display: flex;
	gap: 2rem
}
.countdown .clock-item {
	list-style: none;
	width: 70px;
	height: auto;
}
.countdown .clock-item .count-number {
	background: #0088FF;
	padding: 1rem;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: Soleil;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: #FFFFFF;
	line-height: 1;
	border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
	background: var(--btn-bg-color);
	font-family: var(--font-secondary);
	font-size: 1.1rem;
	color: var(--bg-color);
	padding: 0.5rem 0.7rem;
	display: inline-block;
	width: 100%;
	text-align: center;
	line-height: 1;
	border-radius: 0 0 4px 4px;
}

.countdown h1 {
	text-shadow: 2px 2px 0 var(--btn-bg-color);
	font-style: italic;
	margin: 2rem 0;
	font-size: 3.5rem;
	text-align: center;
	color: rgba(72,72,72,1);
}

.countdown p {
	font-size: 1.6rem;
	font-family: var(--font-secondary);
	margin-bottom: 2rem;
	text-align: center;
}

#Roadmap_no_bkg {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
	max-width: 90%;
	height: 90%;
}

#Mint {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    height: 660px;
    width: 100%;
}

#Mint_zone {
    position: absolute;
	overflow: visible;
    max-width: 30%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
	text-align: center;
	font-family: Soleil;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(72,72,72,1);
}

#FAQ {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    height: 660px;
    width: 100%;
}

.collapsible {
	background-color: #777;
	position: absolute;
	overflow: visible;
	top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
	color: white;
	cursor: pointer;
	padding: 18px;
	max-width: 50%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .active, .collapsible:hover {
	background-color: #555;
  }
  
  .collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .content {
	position: absolute;
	overflow: hidden;
	bottom: 42%;
    right: 50%;
    transform: translate(50%, -50%);
	padding: 0 18px;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
  }

/* Footer */

footer
{
    display: flex;
    background:  url('../html/images/ico_top.png') no-repeat top center, url('../html/images/separateur.png') repeat-x top, url('../html/images/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('../html/images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
    
      nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
    
    #banniere_image
    {
        display: none;
    }
    
    section
    {
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }
    
    #fleche_bulle
    {
        display: none;
    }
    
    #photo_zozor img
    {
        width: 110px;
        float: right;
        margin-left: 15px;
    }
    
    aside p:last-child
    {
        text-align: center;
    }
}